body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-image: url(/image/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .header {
    width: 100%;
   
  }

  .container {
    max-width: 1730px;
    margin: 0 auto;
    background-image: url(/image/Layer\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000;
  }
  
 .header__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

 .header__logo {
      margin-top: 20px;
      margin-left: 20px;
  }

  .header__inner .nav {
    font-size: 16px;
    font-weight: 500;
  }

  .header__inner .nav__link {
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    color: black;
    padding: 20px;
    text-transform: uppercase;
  }


 .first_screen{
    width: 100%;
    max-width: 1730px;
    margin: 0 auto;
  }

 .container__img {
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
  }

 .container__img-item {
   margin-top: 100px;
   width: 400px;
  }

 .container__link-arrow {
   margin: 15px 0 15px 0;;
 }

     
     
  

