@font-face {
  font-family: "Neutraface 2 Display Bold";
  src: url("../fonts/Neutraface2Display-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Neutraface 2 Display Greek Titl";
  src: url("../fonts/Neutraface2DispGreek-Titl.otf");
  font-weight: 700;
}
img{
  vertical-align: middle;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Neutraface 2 Display Bold";
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  /* font-family: 'Montserrat', sans-serif; */
  background: url(../image/background_layer.png) no-repeat top/cover;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1387px;
  margin: 0 auto;
  padding: 0 15px;
}

.subtitle {
  font-family: "Neutraface 2 Display Greek Titl";
  font-size: 38px;
}

.title-decor {
  display: inline-block;
  border: none;
  width: 36px;
  height: 8px;
  background-color: rgba(217, 31, 31, 0.46);
}

/* ---HEADER--- */

.header {
  width: 100%;
  padding: 0 15px;
}

.header__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__logo {
  margin-top: 20px;
}

.header__inner .nav {
  font-size: 16px;
  font-weight: 500;
}

.header__inner .nav__link {
  font-weight: 700;
  text-decoration: none;
  line-height: 20px;
  color: black;
  padding: 20px;
  text-transform: uppercase;
}

.header__container {
  max-width: 1348px;
  margin: 0 auto;
  background-image: url(../image/Layer_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__container-img {
  margin-top: 100px;
}

.header__container-link {
  display: inline-block;
  padding: 22px;
}

/* ---SECTION OURSTORY--- */

.OURSTORY {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.OURSTORY__gallary {
  position: relative;
}

.OURSTORY__gallary-blur,
.distillation__gallary-blur {
  background-color: rgba(255, 255, 255, 0.302);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.OURSTORY__content-title{
  font-size: 34px;
  font-weight: 800;
  margin: 20px 0;
}

.OURSTORY__gallary-images{
  width: 100%;
  max-width: 800px;
}

.OURSTORY__content-main{
    text-align: center;
    max-width: 550px;
    padding: 15px 70px;
}

.OURSTORY__content{
    background: url(../image/2.jpg);
    display: flex;
    align-items: center;
}

.OURSTORY__content-border{
    width: 36px;
    height: 8px;
    background-color: #d91f1f;
    margin: 20px auto;
}

/* ---SECTION FRESH--- */
.fresh__line{
  display: flex;
  flex-direction: row-reverse;
}
.fresh__content-img{
  margin-bottom: 60px;
}
.fresh__decor{
  margin-bottom: 20px;
}
.fresh__content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 540px;
  background: #fff url(../image/fresh_back.png) no-repeat top/cover;
}
.fresh__content-main {
  flex-basis: 400px;
  text-align: center;
  padding: 20px;
}
.fresh__gallery {
  position: relative;
}
.fresh__img {
  max-width: 100%;
  height: 100%;
  opacity: .7;
}

/* ---SECTION DISTILLATION--- */

.distillation__line {
  display: flex;
}

@media (max-width: 1000px) {
  .distillation__line {
    flex-wrap: wrap;
  }
}

.distillation__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 540px;
  background: #fff url(../image/distillation_back.png) no-repeat top/cover;
}

.distillation__content-main {
  flex-basis: 400px;
  text-align: center;
  padding: 20px;
}

.distillation__content-main-img {
  margin-bottom: 60px;
}

.distillation__content-main-title {
  margin-bottom: 35px;
}

.distillation__content-main-decor {
  margin-bottom: 20px;
}

.distillation__gallery {
  position: relative;
}

@media (max-width: 1000px) {
  .distillation__gallery {
    width: 100%;
  }
}

.distillation__gallery-img {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .distillation__gallery-img {
    width: 100%;
  }
}

.distillation__fish {
  position: relative;
  font-size: 0%;
}

.distillation__fish-img {
  max-width: 100%;
  height: 100%;
}

.distillation__fish-blur {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.15;
}

/* ---SECTION FOOTER--- */

.footer {
  padding-bottom: 25px;
}

.footer__line {
  max-width: 1356px;
  min-height: 441px;
  display: flex;
  justify-content: space-between;
  background: url(../image/footer_bg.png) no-repeat center;
  background-size: cover;
  padding-top: 135px;
  padding-bottom: 90px;
}

@media (max-width: 720px) {
  .footer__line {
    flex-wrap: wrap;
  }
}

.footer__contacts {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.footer__social-icons {
  margin-right: 65px; 
  align-self: flex-end; 
}

@media (max-width: 720px) {
  .footer__social-icons {
    margin-left: 90px;
  }
}

.footer__data {
  font-size: 16px;
  line-height: 0.94;
  color: #000;
  font-weight: bold;  
}
.footer__icon {
  margin-right: 6px;
} 